.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 82.2vh;
    width: 100%;
    background-image: linear-gradient(#EDF3F8, #BA4270 30%);
    &__heading {
        margin-left: 50px;
        font-family: 'DM Serif Display';
        font-size: 80px;
        font-weight: 400;
        line-height: 100px;
        letter-spacing: 2px;
        color: #EDF3F8;
        width: 90%;
    }
}